
.block{
  background-color:rgb(221, 209, 209);
  border : 1px solid rgb(148, 148, 148);
  box-sizing: border-box ;
}

.block-hovered{
  background-color: black;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}
